
.box {
	height: 200px;
	width: 200px;
	position: relative;
	background: #f2f2f2;
	border: 1px solid #546e7a;
}
	
.title {
	padding-top: 4px;
	text-align: center;
}

.icon {
	position: absolute;
	font-size: 7em;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(calc(-50% - 5px));
}

.data {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 4em;
	width: 6em;
	transform: translateX(-50%) translateY(calc(-50% + 4em));
	background: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	border: 2px solid #546e7a;
}

.data span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 2em;
}
	
	
	